@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Poppins:wght@200;300;400&display=swap');


.navbar{
    display: flex;
    color: #FF5A5F;
    font-family: 'Poppins', sans-serif; 
    padding: 20px 36px;
    box-shadow: 2px 10px #ece8e8;
    align-items: center;     
    
}

.icon{
    font-size: 30px;
    padding-right: 5px;
    
}












